@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
     box-sizing: initial;
     margin: 0;
     padding: 0;
}

body {
    color: #333;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #770707;
    font-weight: bolder;
    text-align: center;
}

p {
    margin: 60px;
    background-color: #ffffff;
    font-size: 150%;
    text-align: center;
}

#container {
    margin: 0 auto;
   }

footer p {
    margin: 0;
    color: #424242;
    font-size: 150%;
    text-align: center;
}

img {
    float: right;
    margin: 8px;
    width: 50px;
    height: auto;
}

.main_img img {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 60px;
    width: 100%;
    height: auto;
}

.win_img img {
    margin: auto;
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 2;
    background-color: #000000;
    width: 100%;
    height: 60px;
  }
nav .nav-list {
    display: flex;
    list-style: none;
}
nav .nav-list li {
    background-color: #000000a2;
    list-style: none;
}
nav a {
    display: block;
    padding: 0 10px;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    text-decoration: solid;
    font-weight: 900;
}
    nav .nav-list a:hover {
    transition-duration: 0.9s;
    background-color: #5f5c5c;
}
    .nav-sublist {
    display: none;
    position: absolute;
    top: 60px;
}
nav ul li:hover > ul {
    display: inherit;
}
nav ul ul li {
    position: relative;
    width: 170px;
}

@media screen and (max-width: 1200px) {
    .name {
      position: absolute;
      top: 10%;
      right: 10%;
      font-weight: 900;
      font-size: 50px;
    }
  }
  @media screen and (max-width: 780px) {
    .name {
      position: absolute;
      top: 10%;
      right: 10%;
      font-weight: 900;
      font-size: 30px;
    }
  }
  @media screen and (max-width: 530px) {
    .name {
      position: absolute;
      top: 8%;
      right: 4%;
      font-weight: 900;
      font-size: 25px;
    }
    nav .nav-list{
      display: grid;
      position: absolute;
      top: 60px;
      left: 0;
      transform: translateY(-120%);
      z-index: -1;
      width: 100%;
    }
    nav .navbar-toggler {
      display: grid !important;
    }
    .nav-list li a + .nav-sublist {
      position: inherit;
    }
    nav ul ul li {
      width: 100%;
      font-size: medium;
    }
  }

  nav .navbar-toggler {
    display: none;
    cursor: pointer;
    margin: 10px -10px 0 0;
    height: min-content;
  }

  nav .navbar-toggler .bar {
    transition: .7s;
    margin-bottom: 10px;
    border-radius: 10%;
    background: #ffffff;
    width: 40px;
    height: 5px;
  }

  #toggle {
    display: none;
  }

  input:checked ~ nav .nav-list {
    transform: translateY(0);
  }

  input:checked ~ nav .navbar-toggler {
    margin-top: 30px;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(180deg);
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-180deg);
  }

.flip-card {
    perspective: 5000px;
    z-index: 1;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: transparent;
    width: 500px;
    height: 300px;
}

.flip-card-inner {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    width: 100%;
    height: 100%;
    text-align: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    background-color: #8f8e8e;
    color: rgb(131, 130, 130);
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: rgb(224, 224, 224);
    color: rgb(113, 112, 112);
}

.img-news img{
    margin: auto;
    width: 100%;
    height: auto;
}

.cloud {
	position: relative;
	width: 100px;
	height: 100px;
}

.fcloud01 {
	top: 100px;
	z-index: 100;
	animation: drift 5s linear infinite;
	background-color: rgb(143, 143, 143);
}

.fcloud02 {
	top: 180px;
	z-index: 500;
	animation: drift 6s 2s linear infinite both;
	background-color: rgb(82, 82, 82);
}

.adminimg{
  max-width: 49%;
}
.addImage{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 50px;
}
.button {
  transition-duration: 0.3s;
  padding: 10px;
  font-size: large;
  border-radius: 5px;
  margin-bottom: 10px;
}
@keyframes example {
  from {top: 100px;}
  to {top: 0px;}
}
nav li a.active{
  background:#000000;
}
.button:hover {
  background-color: #070707;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #727272;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea, select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #6a6a6a;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  font-family: "Open Sans", sans-serif;
}
.add_news{
  text-align: center;
}

/* -------------fans------------ */
.fan-appeal{
  text-align: center;
}

.fan-text{
  margin: 2% 5% ;
}

.redBorder{
  border: 3px solid;
  border-color: red;
}
