@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
     box-sizing: initial;
     margin: 0;
     padding: 0;
    }

body {
    color: #333;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #770707;
    font-weight: bolder;
    text-align: center;
}

p {
    margin: 60px;
    background-color: #ffffff;
    font-size: 150%;
    text-align: center;
}

footer p {
    margin: 0;
    color: #424242;
    font-size: 150%;
    text-align: center;
}

img {
    float: right;
    margin: 8px;
    width: 50px;
    height: auto;
}

.main_img img {
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.win_img img {
    margin: auto;
    width: 100%;
    height: auto;
}

.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navbar ul {
    background-color: rgba(51, 51, 51, 0.8);
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    transition: background-color 0.9s;
    border: solid #969696 2px;
    padding: 20px 30px;
    color: white;
    font-weight: 900;
    text-decoration: solid;
}

.navbar ul a.active-page {
  background-color:#5b5b5b;
}

.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}

.navbar a:hover {
    display: block;
    transition: border 0.9s;
    cursor: pointer;
    border: 2px #fff solid;
}

.navbar ul ul li a:hover {
    background-color: #2e2e2e;
}

.flip-card {
    perspective: 5000px;
    z-index: 1;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: transparent;
    width: 500px;
    height: 300px;
  }

  .flip-card-inner {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }

  .flip-card-front {
    background-color: #8f8e8e;
    color: rgb(131, 130, 130);
  }

  .flip-card-back {
    transform: rotateY(180deg);
    background-color: rgb(224, 224, 224);
    color: rgb(113, 112, 112);
  }

.img-news img{
    margin: auto;
    width: 100%;
    height: auto;
}

.cloud {
	position: relative;

	width: 100px;
	height: 100px;
}

.fcloud01 {
	top: 100px;
	z-index: 100;
	animation: drift 5s linear infinite;
	background-color: rgb(143, 143, 143);
}

.fcloud02 {
	top: 180px;
	z-index: 500;
	animation: drift 6s 2s linear infinite both;
	background-color: rgb(82, 82, 82);
}

@keyframes drift {
	from {
		transform: translateX(-110px);
	}
	to {
		transform: translateX(1250px);
	}
}
