@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
     box-sizing: initial;
     margin: 0;
     padding: 0;
    }

body {
    color: #333;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #770707;
    font-weight: bolder;
    text-align: center;
}

p {
    margin: 60px;
    background-color: #ffffff;
    font-size: 150%;
    text-align: center;
}

footer p {
    margin: 0;
    color: #424242;
    font-size: 150%;
    text-align: center;
}

img {
    float: right;
    margin: 8px;
    width: 50px;
    height: auto;
}

.main_img img {
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
}

.win_img img {
    margin: auto;
    width: 100%;
    height: auto;
}

.navbar {
    position: fixed;
    width: 100%;
}

.navbar ul {
    background-color: rgba(51, 51, 51, 0.8);
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    transition: background-color 0.9s;
    border: solid #969696 2px;
    padding: 20px 30px;
    color: white;
    font-weight: 900;
    text-decoration: solid;
}

.navbar ul a.active-page {
  background-color:#5b5b5b;
}

.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;

}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;

}

.navbar a:hover {
    display: block;
    transition: border 0.9s;
    cursor: pointer;
    border: 2px #fff solid;
}

.navbar ul ul li a:hover {
    background-color: #2e2e2e;
}
